# ---- Google (voor de Google-rating, per park) ----
# Eén API-key volstaat voor alle parken.
GOOGLE_API_KEY=

# place_id per park:
GOOGLE_PLACE_ID_MAASDUINEN=ChIJ-YJGKtJRx0cR3jCHGkaK0zQ
GOOGLE_PLACE_ID_POORTVANMAASTRICHT=ChIJk22yCuXrwEcRQImWh_0JvxY
GOOGLE_PLACE_ID_HOGEKEMPEN=ChIJGeXYP7vdwEcRFzzYSQiXk_U
GOOGLE_PLACE_ID_KRAAIJENBERGSEPLASSEN=ChIJ7_B6u6MPx0cR7TCBVhBMEV8
GOOGLE_PLACE_ID_LIMBURG=ChIJnVDKs9O3wEcRGJmJcGAOVzE
GOOGLE_PLACE_ID_CADZAND=ChIJuyk9xD-hxEcRDTN4vog-FdM
GOOGLE_PLACE_ID_ZEEUWSEDUINEN=ChIJhdJsXLK9xEcRsRIhPveYfbM
GOOGLE_PLACE_ID_SCHONEVELD=ChIJyVCBMeCYxEcRncW1B0doW4g

# ---- Optioneel ----
# PORT=3000
